/* Brief Section */

.brief {
  text-align: center;
  background-color: black;
  color: white;
}
/* Index.html Section */
.who {
  background: linear-gradient(black, red);
  color: white;
  text-align: center;
}
.CTA-button {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
}
.CTA-button:hover {
  background-color: rgb(207, 207, 207);
  color: black;
}
/* Subject.html Section */
.medicine-containers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
}
/* Resoponsive Section */
@media (max-width: 768px) {
  .medicine-containers {
    display: flex;
    flex-direction: column;
  }
}
.medicine-containers p {
  padding: 20px;
  background: linear-gradient(#0000ff, #ffffff);
  color: white;
}
.medicine-containers img {
  width: 150px;
  height: 150px;
  padding-bottom: 20px;
  justify-self: center;
  animation: infinite scale 7s linear;
  max-width: 100%;
  height: auto;
}
/* Animation Section */
@keyframes scale {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.favourite {
  text-align: center;
  background: linear-gradient(black, red);
  color: white;
}
